# FastAPI for web server
fastapi
uvicorn[standard]

# LangChain and its components
langchain==0.1.16
langchain-community==0.0.32
langchain-huggingface==0.0.1
langchain-chroma==0.1.0

# Vector Database
chromadb==0.4.24

# AI Models and Core Libraries
sentence-transformers==2.7.0
torch
gpt4all==2.2.0

# Document Loaders and Utilities
pypdf
python-dotenv
tqdm

# Text-to-Speech
pyttsx3